<div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
  <!-- Left column -->
  <div class="grid grid-cols-1 gap-4 lg:col-span-2">
    <section aria-labelledby="section-1-title">
      <h2 class="sr-only" id="section-1-title">Section title</h2>
      <% if alert %>
        <div class="rounded-lg bg-red-50 text-white overflow-hidden shadow mb-4">
          <div class="p-5">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: solid/information-circle -->
                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-red-700">
                  <%= alert %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if notice %>
        <div class="rounded-lg bg-blue-50 text-white overflow-hidden shadow mb-4">
          <div class="p-5">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: solid/information-circle -->
                <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-blue-700">
                  <%= notice %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="rounded-lg bg-white overflow-hidden shadow">
        <div class="p-6">
          <% if !current_user.profile.github %>
            <div>
              <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full">
                <svg class="w-8 h-8 mr-2" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="mt-1 text-center sm:mt-5">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                  Let's start analysing!
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    We just need you to connect your GitHub profile here. We'll start analysing your profile immediately.
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-5 flex justify-center sm:mt-6">
              <div class="relative inline-flex rounded-md shadow-sm">
                <%= button_to profiles_oauth_github_path, method: :get, form: {"data-turbo" => "false"}, class: "w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" do %>
                  <span class="sr-only">Connect with GitHub</span>
                  <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" clip-rule="evenodd" />
                  </svg> Connect with GitHub
                <% end %>
                <span class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-teal-400 opacity-75"></span>
                  <span class="relative inline-flex rounded-full h-3 w-3 bg-teal-500"></span>
                </span>
              </div>
            </div>
          <% else %>
            <div class="flex flex-col justify-center">
              <div class="prose">
                <span class="bg-gradient-to-r from-teal-200 to-green-200 text-gray-600 p-1 font-semibold">Great Job 🎉! Your GitHub profile is successfully connected for further analysis.</span><br /> We'll let you know when we completely analyse your profile. Why don't you head over to the projects sections and start adding your projects?
              </div>
              <div>
                <% if @profile.analysis_status %>
                  <%= @profile.analysis_status['analysed_repos_count'] %> / <%= @profile.analysis_status['repos_count'] %> repos analysed.
                  <% unless @profile.analysis_status['current_repo'].nil? %>
                    Analysing <%= link_to(@profile.analysis_status['current_repo'].fetch('name'), @profile.analysis_status['current_repo'].fetch('url')) %>
                  <% end %>
                <% end %>
              </div>
              <div class="w-96">
                <button type="button" class="mt-5 inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
                  Checkout Projects ->
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
  <!-- Right column -->
  <div class="grid grid-cols-1 gap-4">
    <section aria-labelledby="section-2-title">
      <h2 class="sr-only" id="section-2-title">Changelog</h2>
      <div class="rounded-lg bg-white overflow-hidden shadow">
        <div class="p-6">
          <!-- Some Stuff like Changelog and announcements for the app will go here. -->
          <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="pr-3 bg-white text-lg font-medium text-gray-900">
                Changelog
              </span>
            </div>
          </div>
          <div class="mt-2">
            <ul class="divide-y divide-gray-200">
              <li class="py-4">
                <div class="flex space-x-3">
                  <div class="flex-1 space-y-1">
                    <div class="flex items-center justify-between">
                      <h3 class="text-sm font-medium">Beta Launched!</h3>
                      <p class="text-sm text-gray-500">25/02/2021</p>
                    </div>
                    <p class="text-sm text-gray-500">We've finally launched the beta version of the platform!</p>
                    <a class="text-teal-500 hover:text-teal-700 hover:underline cursor-pointer text-sm">Read More
                      -></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
