<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= image_tag "logo.svg", class: "mx-auto h-12 w-auto" %> 
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      You've been invited 🥳
    </h2>
    <p class="mt-4 text-center text-base font-light text-gray-600">
      You're one of the few to get to see Hyperlog! So embrace yourself for a fun ride 🙌
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <% if resource.errors.any? %>
        <div class="rounded-md bg-red-50 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- Heroicon name: solid/x-circle -->
              <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-red-800">
                There were <%= resource.errors.count %> errors while registering your account.
              </h3>
              <div class="mt-2 text-sm text-red-700">
                <ul class="list-disc pl-5 space-y-1">
                  <% resource.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
        <%= f.hidden_field :invitation_token, readonly: true %>
        
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <%= f.label :first_name, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm" %>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= f.label :last_name, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm" %>
            </div>
          </div>
        </div>

        <div>
          <%= f.label :username, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= f.submit "Accept Invitation", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
