<!DOCTYPE html>
<html>
  <head>
    <title>Hyperlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <%= stylesheet_link_tag 'application', media: 'all' , 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' , 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        background: linear-gradient(-45deg, #4ade80, #14b8a6, #3b82f6, #6366f1);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
      }
      
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    </style>
  </head>
  <body>
    <div className="bg-scroll min-h-screen">
      <div className="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div className="max-w-3xl mx-auto">
          <div className="flex">
            <%= image_tag "logo-white.svg", class: "mt-10 w-16 h-16 m-auto" %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
